---
title: olifurz
description: personal site for olifurz, also known as oli!
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content={{ description }}>
        <title>{{ title }} - olifurz.com</title>
        <link rel="stylesheet" href="/styles.css" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="alternate" type="application/atom+xml" title="{{ metadata.title }}" href="{{ "/feed.xml" | url }}">
        <script src="https://cdn.jsdelivr.net/npm/appwrite@17.0.0"></script>
        <script src="/scripts/site.js"></script>
    </head>

    <body>
        <div class="background" id="background"></div>
        {{ content }}
        <div id="transition" class="transition">
            <p style="position: absolute; bottom: 0; opacity: 0.1;">if you see this and it doesn't go away - reload the page! javascript is required</p>
        </div>
    </body>
    <script>
        addEventListener("DOMContentLoaded", (event) => {
            const d = new Date();
            let year = d.getFullYear();
            document.getElementById('year').innerHTML = year.toString();

            const transition = document.getElementById('transition');
            transition.classList.add('transitionOut');
        })
    </script>
    <script src="/scripts/api.js" type="module"></script>
    <script src="/scripts/ui.js"></script>
</html>